Repository xenserver-next/status-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, pytest, diff-cover, coverage-report

Path conditions:
  basedpyright: any of: (^xen-bugtool|\.py)$
  pytest: any of: \.py$
  diff-cover: any of: \.py$
  coverage-report: any of: \.py$

.github/workflows/main.yml: Ignore upload fails to SonarCloud
  .github/workflows/main.yml
Due: none

.codecov.yml: Fix project.removed_code_behavior: pass fully covered patches
  .codecov.yml
  .github/workflows/main.yml
Due: none

cmd_output(): Check if the command is executable before planning to run it
  tests/integration/dom0-template/etc/xensource/bugtool/mock/stuff.xml
  tests/unit/test_cmd_output.py
  tests/unit/test_load_plugins.py
  tests/unit/test_output.py
  xen-bugtool
Due: basedpyright, pytest, diff-cover, coverage-report

Log missing commands to xen-bugtool.log
  .vscode/ltex.dictionary.en-US.txt
  tests/unit/test_main.py
  tests/unit/test_output.py
  xen-bugtool
Due: basedpyright, pytest, diff-cover, coverage-report

CI-only: mypy uses the first assignment as type: Declare types on it
  xen-bugtool
Due: basedpyright

.github/instructions: Tell GitHub Copilot PR Review about type comments, no refactors!
  .github/instructions/type-comments.instructions.md
  .github/instructions/use-modern-type-syntax-in-comments.instructions.md
Due: none

mypy only sees the first assignment: Declare unions on first assignment
  xen-bugtool
Due: basedpyright

Fix mypy typing errors: It looks at the first initialisation only
  xen-bugtool
Due: basedpyright

tests/unit/test_main.py: Fix patched_bugtool fixture to cleanup mocked DB
  tests/unit/test_main.py
Due: basedpyright, pytest, diff-cover, coverage-report

tests/test_xapidb_fiter.py: Test dump_filtered_xapi_db function
  tests/unit/test_xapidb_filter.py
Due: basedpyright, pytest, diff-cover, coverage-report

CI: Remove obsolete Python2 tests, move remaining tests to Python3
  .github/workflows/main.yml
  tests/integration/sar-file-collection.test.sh
  tests/integration/xenserver-config-systemd.sh
Due: none

Update README.md for switching the Python shebang to Python3
  README.md
Due: none

xen-bugtool: Switch the Python shebang to use Python3
  xen-bugtool
Due: basedpyright

Give GitHub Copilot instructions on reviewing the migration to black
  .github/instructions/darker.instructions.md
Due: none

No functional change: Split collect_data() into smaller parts
  tests/unit/test_output.py
  xen-bugtool
Due: basedpyright, pytest, diff-cover, coverage-report

Update xen-bugtool
  xen-bugtool
Due: basedpyright

CA-427358: Fix default value of readlines
  xen-bugtool
Due: basedpyright
